absl-py==0.6.1
alembic==1.0.3
arcgis==1.5.2.post1
asn1crypto==0.24.0
astor==0.7.1
async-generator==1.10
audioread==2.1.6
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.0.2
boto==2.49.0
boto3==1.9.63
botocore==1.12.63
Bottleneck==1.2.1
bz2file==0.98
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
cryptography==2.2.2
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dask==0.20.2
dataclasses==0.6
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
dlib==19.16.0
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
face-recognition==1.2.3
face-recognition-models==0.3.0
fastai==1.0.32
fastprogress==0.1.16
future==0.17.1
gast==0.2.0
gensim==3.6.0
gofer-grader==1.0.2
grpcio==1.16.1
h5py==2.8.0
html5lib==1.0.1
idna==2.6
ipykernel==5.1.0
ipyleaflet==0.9.1
ipyparallel==6.2.3
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
jaqs==0.6.12
jaqs-fxdayu==0.1.26
jdcal==1.4
jedi==0.13.1
jeepney==0.4
jieba==0.39
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterhub==0.9.4
jupyterlab==0.35.3
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==17.0.0
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.26.0
lxml==4.2.5
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
matlab-kernel==0.16.1
matplotlib==3.0.2
metakernel==0.20.14
mistune==0.8.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
msgpack-python==0.5.6
murmurhash==1.0.1
nbconvert==5.4.0
nbformat==4.4.0
nbgitpuller==0.6.1
nbgrader==0.5.4
nbresuse==0.3.0
networkx==2.2
notebook==5.7.2
nteract-on-jupyter==1.9.12
numba==0.41.0
numexpr==2.6.8
numpy==1.15.4
openpyxl==2.5.10
Orange3-Associate==1.1.5
pamela==0.3.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plac==0.9.6
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
psutil==5.4.8
ptyprocess==0.6.0
pycosat==0.6.3
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyshp==2.0.1
PySocks==1.6.8
python-dateutil==2.7.5
python-editor==1.0.3
python-oauth2==1.1.0
python-snappy==0.5.3
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
regex==2018.11.22
requests==2.18.4
resampy==0.2.1
ruamel-yaml==0.15.37
s3transfer==0.1.13
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
SecretStorage==3.1.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
smart-open==1.7.1
spacy==2.0.16
SQLAlchemy==1.2.14
statsmodels==0.9.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
Theano==1.0.3
thinc==6.12.0
toolz==0.9.0
torch==0.4.1
torchvision-nightly==0.2.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
traittypes==0.2.1
tushare==1.2.17
typing==3.6.6
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wordcloud==1.5.0
wrapt==1.10.11
wurlitzer==1.0.2
xarray==0.10.7
xlrd==1.1.0
